.Card_Bottom{

    @include BMP(transparent,0,0) ;
    position: absolute;
    bottom: 0px;
    width: 100%;


    #CTA{ 
            @include BMP(transparent,10px 0 10px ,0) ; 
        }

    .ActionBar{ 
                @include BMP($SecondaryColor,1px ,0) ; 
                position: relative;
                height: 60px;
                
        } 

} 