#Header{

    @include BMP($quaternaryColor,0%,10px 0px) ;

    height:auto;
    

    h1{
        display:inline-block;
        @include FONT(2.3em,$FontLargeLine,$FontLargeWeight,0 35% 0 0) ; 
       
        color:$TertiaryHColor;
    }

    h2{
        display: inline;
        @include FONT($FontMedSize,$FontMedLine,$FontMedWeight,0 0 10px) ;
        color:$TertiaryHColor;
    }

    p{
        @include FONT($FontSmallSize,1.4em,bold,20px 35% 40px 0 ) ; 
        
    }
    @import "./_Sponsor_Top.scss";
} 