.card-container{

    .side-back{
            z-index: 2;
            padding: 5% 0 0 0 ;
            transform: rotateY(180deg);
           
           background-image: none !important;
       
            .Side-Content{ 
                h1{ }
                h2{ display: none;
                }
                h3{ display: none;
                }
                    
                p{ 
                        font-size: 1.4em;
                        margin: 0 20px 20px; 
                }
            }
        }
}