
// Base Colors
$PrimaryColor:#363A40;
$SecondaryColor:#fff;
$TertiaryColor:#69D1CA; 
$quaternaryColor : #DCDCDC;
//quinary, senary, septenary, octonary, nonary

// Type Colors
$PrimaryHColor:#000000; 
$SecondaryHColor:#fff;
$TertiaryHColor:#000000;

$PrimaryPColor:#000000;
$SecondaryPColor:#fff;
$TertiaryPColor:#000000;  