
// Base Colors
$PrimaryColor:#f4f4f4;
$SecondaryColor:#ff6200;
$TertiaryColor:#525199; 
$quaternaryColor : #fff;
//quinary, senary, septenary, octonary, nonary

// Type Colors
$PrimaryHColor:#232f34; 
$SecondaryHColor:#fff;
$TertiaryHColor:#ff6200;

$PrimaryPColor:#232f34;
$SecondaryPColor:#fff;
$TertiaryPColor:#ff6200;

